# Ignore the build and lib dirs
jmetalcpp/build
jmetalcpp/lib

# Ignore any executables
jmetalcpp/bin

# Ignore Mac specific files
.DS_Store

# Ignore IDE configuration dirs and files
jmetalcpp/nbproject/
nbproject/
.project
.cproject
.settings
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.xcsettings
